.navbar{
    display: flex ;
    justify-content: space-between;
    padding: 20px;
    background-color: black;
}
* {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    z-index: 1;
  }
  .links{
      display: flex;
      color: black

  }
  .links li{
      padding-left: 20px;
     
  }
  .links a{
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  .links a:hover{
    color: rgb(170, 123, 123);
    
  }
  .Logo{
      font-size: 30px ;
      color: white;
  }